body {
background-color: rgb(255, 210, 200);
font-family: 'Open Sans Condensed', sans-serif;
margin: 28px;
}
div {
min-height: 100vh
min-width: 100vw;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 5em;
}
